.desktop-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #008080;
  &.window {
    margin-bottom: 25vh;
    box-shadow: 0 7px 30px -2px #007272;
  }
}

.desktop {
  opacity: 0;
  height: 100%;
}

.taskbar-wrapper {
  position: relative;
  display: inline-block;
}

.taskbar {
  opacity: 0;
  display: flex;
  flex-direction: column;
  height: 36px;
  width: 100%;
  background-color: #c0c0c0;
  border-top: 1px solid white;
  outline: 1px solid rgb(223, 223, 223);
  justify-content: center;
}

.window {
  &.taskbar-menu {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 2px;
    bottom: 0;
    background-color: #c0c0c0;
    height: 436px;
    width: 350px;
    margin-bottom: 36px;
  }
}

.start-bttn {
  min-height: 30px !important;
  height: 30px;
  min-width: 64px !important;
  width: 64px;
  margin-left: 2px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2px;
  padding-right: 5px;
  &:not(:disabled):active {
    padding: 0 !important;
    padding-right: 4px !important;
    > img {
      padding-left: 3px;
    }
  }
}

.windows-start-icon {
  height: 18px;
  width: 20px;
  margin-left: 5px;
}

.menu-item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.menu-left-bar {
  width: 64px;
  height: 100%;
  background-color: rgb(127, 120, 127);
}

.menu-item {
  width: 100%;
  height: 48px;
  color: black;
  &:hover {
    background-color: #0000a8;
    color: #f1f1f1;
  }
}
