.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: radial-gradient(#019e9e, #016b6b);
  .window {
    margin-bottom: 25vh;
    box-shadow: 0 7px 30px -2px #007272;
  }
}

.input-spaced {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.login-box {
  height: 600px;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-bar {
  height: 12px;
}

.msdos-img {
  height: 18px;
}

.title-bar-text {
  width: 100%;
  margin-left: 3px;
}

.window-body {
  display: flex;
  justify-content: space-between;
}

.login-bttns {
  display: flex;
  flex-direction: column;
}

.login-bttn {
  margin-top: 10px;
  &:hover {
    &.wait {
      cursor: wait ;
    }
  }
}

.login-input-field {
  &:hover {
    &.wait {
      cursor: wait;
    }
  }
}

.login-img {
  padding-left: 10px;
  padding-top: 10px;
}

.login-text {
  padding-bottom: 10px;
}
