.menu-item-content {
  display: flex;
}

.menu-item-img {
  display: flex;
  padding: 5px 15px;
}

.menu-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
